header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    padding: 0px 15px;
    align-items: center;
    font-size: 20px;
    font-size: 1.4rem;
    box-sizing: border-box;

    .logo{
        width: 35px;
        height: 30px;
    }
    h1 {
        margin-left: 10px;
    }
}