footer{
    background-color:  rgb(221, 0, 49);
    color: white;
    font-size: 14px;
    width: 100%;
    padding: 10px 15px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;

    p {
        font-weight: 500;
    }
}
