footer{
    background-color:  #6f4e37;
    background-color:  #40312F;
    color: white;
    font-size: 14px;
    width: 100%;
    padding: 15px 15px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    background-image: linear-gradient(#6f4e37, #40312F);

    p {
        font-style: italic;
        margin: 0px;
    }
}
