<div id="productDetail">
    <div>  
      <h2 class="page-title"><span>{{detail[0]?.blend_name}} - Product Detail</span></h2>
    </div>

    <div id="details">
        <div class="row">
            <div class="heading">ID:</div>
            <div class="content">{{detail[0]?.id}}</div>
        </div>        
        <div class="row">
            <div class="heading">UID:</div>
            <div class="content">{{detail[0]?.uid}}</div>
        </div>
        <div class="row">
            <div class="heading">Blend Name:</div>
            <div class="content">{{detail[0]?.blend_name}}</div>
        </div>
        <div class="row">
            <div class="heading">Intensifier:</div>
            <div class="content">{{detail[0]?.intensifier}}</div>
        </div>
        <div class="row">
            <div class="heading">Variety:</div>
            <div class="content">{{detail[0]?.variety}}</div>
        </div>
        <div class="row">
            <div class="heading">Origin:</div>
            <div class="content">{{detail[0]?.origin}}</div>
        </div>
        <div class="row">
            <div class="heading">Notes:</div>
            <div class="content">{{detail[0]?.notes}}</div>
        </div>
    </div>
</div>