#dashboard {
    box-sizing: border-box;
    padding: 0px 15px;

    h2 {
        font-size: 18px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        font-family: cursive;
    }
    .page-title{
        color: #312A24;
        border-bottom: 1px solid #C5DBC8;
        margin-bottom: 30px;
        span{
            display: inline-block;
            position: relative;
            top: 15px;
            background: #fff;
            padding: 0px 10px;
        }
    }
    .coffeeListHeader{
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 0.5px solid #ccc;
    }
    .coffeeListRow{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 0.5px solid #ccc;
        border-left: 0.5px solid #ccc;
        border-right: 0.5px solid #ccc;
    }
    .colHeader, .colBody {
        flex: 1 1 0;
        border-right: 0.5px solid #ccc;
        padding: 5px;
    }
    .colHeader:last-child, .colBody:last-child{
        border: 0px;
        flex: 1 1 0;
    }
    .mat-header-cell{
        font-size: 20px;
    }
    .mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
        justify-content: center;
    }
    .mat-button{
        color: brown;
        text-decoration: underline;
    }
}


@media only screen and (max-width: 768px) {
    #dashboard {
        h2 {
            justify-content: left;
        }
    }

}
