#dashboard {
    box-sizing: border-box;
    padding: 0px 15px;

    h2 {
        font-size: 18px;
        font-weight: bold;
        display: flex;
        justify-content: left;
        font-family: cursive;
        text-decoration: underline;
    }
    .page-title{
        padding: 10px;
        border-bottom: 1px solid #ccc;
        color: #312A24;
    }
    .coffeeListHeader{
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 0.5px solid #ccc;
    }
    .coffeeListRow{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 0.5px solid #ccc;
        border-left: 0.5px solid #ccc;
        border-right: 0.5px solid #ccc;
    }
    .colHeader, .colBody {
        flex: 1 1 0;
        border-right: 0.5px solid #ccc;
        padding: 5px;
    }
    .colHeader:last-child, .colBody:last-child{
        border: 0px;
        flex: 1 1 0;
    }
}