<div id="dashboard">
<div>  
  <h2 class="page-title"><span>Coffee Menu</span></h2>
</div>
<!--
<div id="coffeeList">
    <div class="coffeeListHeader">
        <div class="colHeader">Blend Name</div>
        <div class="colHeader">Variety</div>
        <div class="colHeader">Notes</div>
    </div>
    <div class="coffeeListRow" *ngFor="let item of coffeeList; let i=index">
        <div class="colBody">{{item.blend_name}}</div>
        <div class="colBody">{{item.variety}}</div>
        <div class="colBody">{{item.notes}}</div>
    </div>
</div>
</div>-->


<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="coffeeList">
        <!-- blend name Column -->
        <ng-container matColumnDef="blend_name">
            <mat-header-cell *matHeaderCellDef>Blend Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.blend_name}} </mat-cell>
          </ng-container>
      
          <!-- Variety Column -->
          <ng-container matColumnDef="variety">
            <mat-header-cell *matHeaderCellDef>Variety</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.variety}} </mat-cell>
          </ng-container>

          <!-- Variety Column -->
          <ng-container matColumnDef="notes">
            <mat-header-cell *matHeaderCellDef>Notes</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.notes}} </mat-cell>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"> <a class="mat-button" (click)="getDetails(element.id)">
              more details..
            </a></mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 25, 50]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
        </div>